# Data Processing

numpy
pandas

# Machine Learning & Deep Learning

tensorflow
scikit-learn
joblib

# Data Visualization

matplotlib

# Web Application & Deployment

streamlit

# API Development

fastapi
pydantic

# Deployment
uvicorn